@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');

* {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

li, a, button {
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1vw; /* Responsive text */
}

img {
    width: 6vw; /* Scales image based on screen width */
    height: 6vw;
    max-width: 90px;
    max-height: 90px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vh 10vw; /* Use viewport units for spacing */
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 3vw; /* Flexible spacing between links */
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color 15s ease-in-out infinite;
}

.nav__links li a:hover {
    background: linear-gradient(90deg, #005B96, #0077CC, #66CCFF, #1A1A1A, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color 4s ease-in-out infinite;
}

button {
    margin-left: 2vw;
    padding: 1vh 2vw;
    border: none;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1vw;
}

button:hover {
    background: linear-gradient(90deg, #005B96, #0077CC, #66CCFF, #1A1A1A, #333333);
    color: white;
    animation: color 6s ease-in-out infinite;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #66CCFF, #0077CC, #005B96, #1A1A1A, #333333);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 100%;
    }
}
#Home {
    display: flex;
    justify-content: center;
    height: calc(100vh - 8vh);
}
.search-bar {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    padding: 0.5vh 2vw;
    border-radius: 50px;
    width: 30%;
    font-size: 1vw;
    outline: none;
    width: max-content;
}